.container {
    padding: 25px 5%;
    width: 100%;
    height: 92vh;
    background-color: var(--bg-color);
}

.portfolio-cont {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1240px;
    background-color: var(--color-nav-bg);
    overflow: auto;
}

.content {
    position: relative;
    padding: 20px 60px 50px;
}

.blockDecoration {
    margin-top: 10px;
    position: absolute;
    width: 110px;
    height: 110px;
    border-top: 3px solid var( --color-border);
    border-left: 3px solid var( --color-border);
    left: 20px;
    top: 10px;
}

.section-title-block {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

}


.h2-portfolio {
    margin: 12px 0 0;
    font-size: 60px;
    line-height: 1.1em;
    color: var(--bg-color);
}

.h5-portfolio {
    display: inline-block;
    color: var(--bg-color);
    background-color: var(--color-border);
    padding: 0 10px;
    font-size: 14px;
    font-weight: 200;
}

.section-title-wrapper {
    display: inline-block;
    position: relative;
    text-align: right;
    margin-bottom: 50px;
}

.portfolio-grid {
    position: relative;
    overflow: hidden;
    height: 620.312px;
    transition: height 450ms ease-out 0s;
}

.portfolio-cont::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.portfolio-cont::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.portfolio-cont::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--color-border);
}

.a {
  outline: none;
  text-decoration: none;
}
.card {
    width: 100%;
    height: 150px;
    background-color: var(--color-white-smoke);
    margin-bottom: 5px;
    border: 2px solid var(--color-white-smoke);
}

h3 {
    color: var(--color-nav-bg);
    font-size: 30px;
}

.text {
    color: var(--color-nav-bg);
    font-size: 20px;
    
}

@-webkit-keyframes card {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes card {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .card:hover {
    -webkit-animation: card 0.6s ease;
    animation: card 0.6s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }


@media only screen and (max-width: 680px) {
   
.text {
    font-size: 17px;
}


}

@media only screen and (max-width: 1040px) {
  .container {
      padding: 0;
      height: 97vh;
  }
  
  .blockDecoration {
    margin-top: 50px;
}
.container{
    padding: 0px;
    padding: 0;
    height: 100vh;
}
   .content {
        padding:  45px 40px 50px;;
    }

}

@media only screen and (max-width: 500px) {
    .h2-portfolio{
      font-size: 50px;
  }
    .text {
        font-size: 15px;
    }

}

@media only screen and (max-width: 400px) {

    .text {
        font-size: 12px;
    }
    h3 {
        font-size: 30px;
    }
}
