.container {
    padding: 25px 5%;
    width: 100%;
    height: 92vh;
    background-color: var(--bg-color);
}


.h2-about {
    margin: 12px 0 0;
    font-size: 60px;
    line-height: 1.1em;
    color: var(--bg-color);
}

.h5-about {
    display: inline-block;
    color: var(--bg-color);
    background-color: var(--color-border);
    padding: 0 10px;
    font-size: 14px;
    font-weight: 200;
}

.content {
    position: relative;
    padding: 20px 60px 50px;
}

.section-title-block{
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.about-cont {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1240px;
    background-color: var(--color-nav-bg);
    overflow: auto;
}

.blockDecoration {
    margin-top: 10px;
    position: absolute;
    width: 110px;
    height: 110px;
    border-top: 3px solid var( --color-border);
    border-left: 3px solid var( --color-border);
    left: 20px;
    top: 10px;
}

.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    height: 250px;
}

.imgs {
    height: 100%;
    width: 100%;
    
}

.about-info {
    width: 50%;
    padding-left: 30px;
    padding-right: 15px;
    width: 30%;
}

.section-cont-block {
    display: flex;
    color: var(--bg-color);
}

.info-p{
    margin-bottom: 10px;
    font-size: 0.875em;
    margin: 0 0 10px;
    font-weight: 300;
    line-height: 23px;
}

.h3-about-info {
    margin-bottom: 10px;
}

.personal-info{
    margin-bottom: 30px;
}

.info-list {
    list-style: none;
    margin: 0;
    padding-left: -50;
}

li {
    padding: 12px 0;
    font-size: 14px;
}

.title {
    display: inline-block;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 700;
    margin-right: 12px;
}

.value {
    min-width: 250px;
}

.info-list li .title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
}


.about-cont::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.about-cont::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.about-cont::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--color-border);
}
