
@media only screen and (max-width: 740px) {
    .content {
        padding: 20px 40px 50px;
    }
    .container{
        padding: 0;
        height: 100%;
    }
    .section-cont-block{
        position: relative;
        display: grid;
    }
    
.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 500px;
    height: 500px;
}

.h2-about {
    font-size: 30px;
}
.about-content {
    padding: 20px 40px 50px;
}

.about-info {
    margin-top: 40px;
    width: 90%;
}

.h3-about-info {
    font-size: 25px;
}

.info-p {
    font-size: 15px;
}

}

@media only screen and (max-width: 960px) {
    .container{
        padding: 0;
        height: 100vh;
    }
    .personal-info {
        position: absolute;
        left: 340px;
        bottom: -280px;
    }
    
    .about-info {
        margin-top: 40px;
        width: 60%;
        padding-left: 20px;
}

    .block-img {
        padding-left: 15px;
        padding-right: 15px;
        width: 300px;
        height: 300px;
}

    }

@media only screen and (max-width: 700px) {
    .container{
        padding: 0;
        height: 100vh;
    }
    .personal-info {
        position: absolute;
        left: -20px;
        bottom: -350px;
    }
    
    .about-info {
        margin-top: 40px;
        width: 90%;
        padding-left: 20px;
}

.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    height: 400px;
}
    }

@media only screen and (max-width: 614px) {
    .personal-info {
        position: absolute;
        left: 10px;
        bottom: -330px;
    }
    .content {
        padding: 20px 40px 50px;
    }
    .section-cont-block{
        position: relative;
        display: grid;
    }
    
.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    height: 400px;
}

.h2-about {
    font-size: 30px;
}
.about-content {
    padding: 20px 40px 50px;
}

.about-info {
    margin-top: 40px;
    width: 90%;
}

.h3-about-info {
    font-size: 25px;
}

.info-p {
    font-size: 15px;
}


.about-content {
    padding: 20px 40px 50px;
}

.about-info {
    margin-top: 40px;
    width: 90%;
    padding-left: 20px;
}
.info-list {
    padding-left: 16px;
}

}

@media only screen and (max-width: 500px) {
    
.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
    height: 350px;
}

}

@media only screen and (max-width: 451px) {
.block-img {
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    height: 250px;
}

}

