body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  margin-left: 17%;
}

:root {
  --color-nav-bg: #272727;
  --color-white-smoke: whitesmoke;
  --color-white-grey: #ccc;
  --color-border: #7e5469;
  --color-white: white;
}