body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  margin-left: 13%;
}

:root {
  --color-nav-bg: #272727;
  --color-white-smoke: rgb(179, 170, 170);
  --color-white-grey: rgb(255, 255, 255);
  --color-border: #7e5469;
  --color-white: white;
  --bg-color: #f5f5f5;
}

h2,
p,
h5,
h3,
h4
{
    margin: 0;
}