.card {
    padding: 10px;
    margin-top: 10px;
    height: 80px;
    width: 60vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    border: 2px solid #8f8fa1;
}

.content {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 25px;
    color: #403866;
}

.phone {
    font-size: 20px;
    color: #403866;
}


@media only screen and (max-width: 422px) {
   
.card {
        width: 40vh;
    }
   
}