.div-nav {
    background-color: rgb(39, 39, 39);
    width: 13%;
    height: 100vh;
    line-height: 1.5em;
    overflow: hidden;
    position: fixed;
	
}

.nav-icon {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: whitesmoke solid 1px;
}

.activeLink {
    color: #ccc;
    background-color: #444343;
    text-decoration: none;
}

.image {
    width: 100px;
    height: 100px;
    background-color: #e0d0e0;
    border: 2px solid white;
    margin: 20px 0px 0px 35px;
}

.name {
    font-size: 21px;
    color: white;
    margin: 0;
    font-weight: 500;
    text-align: center;
    margin: 0 0 20px 0;
}

